<%- include('header') %>

<%- data.forEach((e) => { %>
    
    <h1><%= e.storeName %></h1>
    <h2><%= e.description %></h2>
    
    <%- }) %>
    <table style="border: 1;">
        <tr>
            <th>Product Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        <tr>
        <%- data.forEach((e) => { %>
      <td><%= e.productName %></td>
      <td><%= e.productDescription %></td>
      <td><%= e.productPrice %></td>
      <td>
          <a href=""> <button>Details</button> </a>
          <a href=""> <button>Edit</button> </a>
          <a href=""> <button>Delete</button> </a>
        </td>
        <%- }) %>
    </tr>
</table>



<%- include('footer') %>